fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-google-genai
langchain-text-splitters
langgraph

duckduckgo-search
tavily-python

faiss-cpu
sentence-transformers

requests
beautifulsoup4
pypdf
